/** CSS STYLE **/
:default {
    --white: #fff;
    --half-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --half-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-weight: normal;
    font-family: "Neucha";
    src: url(../fonts/Neucha-Regular.ttf);
}

@font-face {
    font-weight: normal;
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-weight: bold;
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
    font-family: "OpenSans";
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
}

h1, h2, h3, h4, h5 {
    font-family: "Neucha";
    line-height: 1.2em;
 }

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section {
    max-width: 1110px;
    position: center;
    text-align: center;
    margin: 100 0 100;
}