/** CSS STYLE heeeeey **/
:root {
    --white: #fff;
    --half-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --half-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-weight: normal;
    font-family: "Neucha";
    src: url(../fonts/Neucha-Regular.ttf);
}

@font-face {
    font-weight: normal;
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-weight: bold;
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
    font-family: "OpenSans";
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
    background-color: var(--light);
}

h1, h2, h3, h4, h5 {
    font-family: "Neucha";
    line-height: 1.2em;
 }

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section::before {
    background-image: url(../images/background.png);
    content: "";

    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.1;
    width: 1440px;
    height: 914px;
    left: 0px;
    top: 0px;
    background-color: var(--half-white);
}

.position-relative {
    position: relative;
}

.color-main {
    color: var(--main);
}

.first-heading {
    position: absolute;
    left: 165px;
    top: 100px;
}

.img-main {
    position: relative;
    height: 525px;
    top: 55px;
    left: 461px;
}

.columns-2 {
    column-count: 2;
    column-gap: 5px;
    column-width: 540px;
}

.first-text {
    margin-left: 165px;
}

.button {
    
}